main {
    height: 400px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: none;
    justify-content: flex-start; 
}

.text-features {
    margin-left: 60px;
}

footer ul {
    margin-left: 60px;
    justify-content: flex-start;
}

.text-features {
    text-align: start;
}