/* reset browser default styles  */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Libre Baskerville', serif;
}

header {
    width: 100vw;
    height: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

header a {
    width: 130px;
    height: 50px;
    background-color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 0 1px 6px 0 #20212447;
    font-size: 1rem;
    color: black;
    font-weight: bold;
    text-decoration: none;
    padding-top: 18px;
    padding-left: 60px;
}

.back-button span {
    display: inline-block;
    width: 15px;
    height: 8px;
    background-image: url('../assets/icons/left-arrow.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 10px;
}

header .menu-button {
    width: 100px;
    height: 40px;
    justify-self: end;
    background-color: white;
    border: none;
    box-shadow: 0 1px 6px 0 #20212447;
    font-size: 1rem;
    color: black;
    font-weight: bold;
}

.menu-button span {
    display: inline-block;
    width: 15px;
    height: 8px;
    background-image: url('../assets/icons/menu.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 10px;
}

main {
    display: grid;
    grid-template-rows: 200px 150px;
    justify-items: center;
    align-items: center;
}

.container-left {
    text-align: center;
}

.container-left h1 {
    font-size: 2.1rem;
    font-weight: bold;
    margin-bottom: 10px;
}
.container-left p {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 30px;
}

.buttons {
    width: 140px;
    height: 50px;
    background-color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 0 1px 6px 0 #20212447;
    font-size: 1rem;
    color: black;
    font-weight: bold;
    margin-left: 10px;
}
.buttons span {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('../assets/icons/right-arrow.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 20px;
}

.container-right p {
    font-size: 1.2rem;
    font-weight: 500;
}
.container-right h2 {
    font-size: 2.1rem;
    font-weight: bold;
}

.container-right sub {
    font-size: 1.1rem;
}

.text-features {
    font-size: 1.2rem;
    font-weight: bold;
    margin-left: 10px;
    margin-bottom: 15px;
}

footer {
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-content: center;
}

footer ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

footer li {
    margin-left: 8px; 
    margin-bottom: 8px;
}

.features div {
    width: 50px;
    height: 50px;
    background-color: white;
    box-shadow: 0 1px 6px 0 #20212447;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.features span {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.sink span {
    background-image: url('../assets/icons/sink.png');
}
.closet span {
    background-image: url('../assets/icons/closet.png');
}
.wifi span {
    background-image: url('../assets/icons/wifi.png');
}
.umbrella span {
    background-image: url('../assets/icons/umbrella.png');
}
.television span {
    background-image: url('../assets/icons/television.png');
}
.desktop span {
    background-image: url('../assets/icons/desktop.png');
}
.oven span {
    background-image: url('../assets/icons/oven.png');
}


.see-more a {
    text-decoration: none;
    color: black;
    margin-left: 10px;
    font-size: 1.1rem;
    font-weight: bold;
}

.see-more span {
    background-image: url('../assets/icons/right-arrow.png');
    margin-left: 10px;
}